#booking_card {
   display: flex;
   flex-wrap: wrap;
   border-radius: 5px;
   background-color: none;
   padding-top: 30px;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   // margin-top:30px;
   height: 100vh;
   border-style: groove, 5px, white;

}

#booking_result {
  width: 30%;
  border-radius: 5px;
  border-color: none;
  // background-color: none;
  padding: 3px;
  height: 95vh;
  text-align: center;
  // border-style: groove, 5px, white;
}

#booking_header {
  background-color: #F4F4F4 ;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  // margin: 4px;
  padding-top: 15px;
  font-weight: bold;
  height: 18vh;
  //
}

#booking_body {
  list-style-type:none;
  background-color: none;
  border-radius: 5px;
  margin: 4px;
  padding: 3px;
  height: 77vh
}
#booking_body h5 {
  font-variant: petite-caps;
  text-align: center;
  font-weight: bold;
}
#booking_body h6 {
  font-variant: petite-caps;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
}
#booking_body p {
  font-variant: petite-caps;
  font-size: 0.8em;
  text-align: center;
  // font-weight: bold;
}

#booking_garden_image {
  // background-size: cover;
  background-position: center;
  border-radius: 5px;
  // border-style: groove, 5px, white;
  width: 30%;
  height: 95vh;
  position: sticky;
  // border: 7px solid #BABABA;
}

#booking_map {
  // border-style: groove, 5px, white;
  border-radius: 5px;
  width: 30%;
  height: 95vh;
  position: sticky;
  // border: 7px solid #BABABA;
}

// a {
//   text-decoration: none;
// }

// a:hover, a:focus {
//   color: navy;
//   text-decoration: underline;
// }

#booking_dates{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

#booking_dates .card-text{
  flex: 1 1 auto;
}
