<h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb</p>


<%= simple_form_for [@garden, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit "Book", class: "btn btn-primary", data: { confirm: 'Please confirm the booking' } %>
<% end %>
