.form-container {
  background-color: rgba(200, 200, 200, 0.8);
  padding: 1%;
  border-radius: 5px;
}

.search-garden-row {
  width: 90%;
  margin-left: 5%;

}

.search-garden-btn {
  font-size: 150%;
  box-shadow: 4px 4px 4px rgba(0,0,0,0.1) !important;
  background-color: #3CB371;
  color: white;
  }

.search-garden-form {
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1) !important;
}
