
.card-index {
  height:200px;
  background-color: grey;
  margin-top: 10px;
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  opacity: 0.8;
}

.card-index:hover {
  opacity: 1;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  padding-left: 110px;
  height:100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}



a {
  text-decoration: none;
}

.cokname {
  color:white;
}

.cokname:hover {
  color: white;
  size:1.2em;
}

#special:hover {
  color: white;
}

a:hover, a:focus {
    color: white;
    text-decoration: underline
}


