
<%= link_to garden_path(garden) do %>
  <p class='special'> <strong>  <%= garden.price %> </strong> €/day </p>
  <% case garden.product %>
    <% when 'salads' %>
    <i class="fas fa-spa" id='sal'></i>
    <% when 'beans' %>
    <i class="fab fa-bandcamp" id='bea'></i>
    <% when 'carrots' %>
    <i class="fas fa-carrot" id='car'></i>
    <% when 'tomatoes' %>
    <i class="fas fa-apple-alt" id='tom'></i>
  <% end %>
<% end  %>

