<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @garden.photo %>');">
</div>

<h1>Gardens#show</h1>
<p>Find me in app/views/gardens/show.html.erb</p>


<%= link_to 'Add a booking', new_garden_booking_path(@garden.id), class: 'btn btn-info'  %>

