#map {
  margin-top:10px;
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
